flows.json
[{"id":"aeb201a505a93812","type":"tab","label":"NPOL UI","disabled":false,"info":"","env":[]},{"id":"6a733bc75fbdf31a","type":"mqtt in","z":"aeb201a505a93812","name":"","topic":"broadcast/IN","qos":"2","datatype":"auto-detect","broker":"4bdbf5c05249dec3","nl":false,"rap":true,"rh":0,"inputs":0,"x":350,"y":100,"wires":[["182b818c352432dd"]]},{"id":"4b489282cd8e79a4","type":"debug","z":"aeb201a505a93812","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":100,"wires":[]},{"id":"d9ff755ec38c6336","type":"mqtt in","z":"aeb201a505a93812","name":"","topic":"groupid/IN","qos":"2","datatype":"auto-detect","broker":"4bdbf5c05249dec3","nl":false,"rap":true,"rh":0,"inputs":0,"x":340,"y":180,"wires":[["a352bcdb1094e530"]]},{"id":"987916d5f32d31ad","type":"debug","z":"aeb201a505a93812","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Sub_State","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":180,"wires":[]},{"id":"abc4d4a1b68b9afb","type":"mqtt in","z":"aeb201a505a93812","name":"","topic":"supercap/HW_ID/IN","qos":"2","datatype":"auto-detect","broker":"4bdbf5c05249dec3","nl":false,"rap":true,"rh":0,"inputs":0,"x":350,"y":260,"wires":[["115607342b44c719"]]},{"id":"115607342b44c719","type":"debug","z":"aeb201a505a93812","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":260,"wires":[]},{"id":"49cd422865df7ad3","type":"comment","z":"aeb201a505a93812","name":"from UI to supercap bank","info":"these are topic coming from ui","x":270,"y":40,"wires":[]},{"id":"182b818c352432dd","type":"json","z":"aeb201a505a93812","name":"","property":"payload","action":"","pretty":false,"x":510,"y":100,"wires":[["4b489282cd8e79a4"]]},{"id":"a352bcdb1094e530","type":"json","z":"aeb201a505a93812","name":"","property":"payload","action":"obj","pretty":true,"x":510,"y":180,"wires":[["987916d5f32d31ad"]]},{"id":"054e6fbe535a7a49","type":"ui_switch","z":"aeb201a505a93812","name":"","label":"INPUT CONTACTOR","tooltip":"","group":"5491be8651cc99b2","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"battery_charging_50","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"battery_50","offcolor":"","animate":true,"className":"","x":240,"y":1000,"wires":[["35958b9fa52398c5","e04d035dbd3ad8f0"]]},{"id":"3d025a7b345da872","type":"ui_toast","z":"aeb201a505a93812","position":"dialog","displayTime":"10","highlight":"RED","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":true,"className":"","topic":"","name":"contactorON?OFF","x":750,"y":1000,"wires":[[]]},{"id":"236ef619d36dac04","type":"debug","z":"aeb201a505a93812","name":"debug 18","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":580,"wires":[]},{"id":"66aab288be900ea4","type":"ui_date_picker","z":"aeb201a505a93812","name":"","label":"date","group":"944016a7742d76f4","order":2,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","className":"","x":330,"y":580,"wires":[["236ef619d36dac04"]]},{"id":"386622cbfce5271b","type":"ui_table","z":"aeb201a505a93812","group":"225fb4a23eee2f8a","name":"capacitor table","order":1,"width":14,"height":31,"columns":[],"outputs":1,"cts":true,"x":635,"y":1240,"wires":[[]],"l":false},{"id":"967df32f58fb6222","type":"function","z":"aeb201a505a93812","name":"capacitor voltages","func":"// Assuming the input payload is in msg.payload\nlet payload2 = msg.payload;\n\n// Initialize the output array\nlet capacitorDataList = [];\n\n// Extract capacitor_voltage array from the input payload\nlet capacitorVoltages = payload2.data.capacitor_voltage;\n\n// Populate the output array with objects\nfor (let i = 0; i < capacitorVoltages.length; i++) {\n    let row = {\n        capacitor: `capacitor_${i + 1}`,\n        voltage: capacitorVoltages[i]\n    };\n    capacitorDataList.push(row);\n}\n\n// Set the output payload\nmsg.payload = capacitorDataList;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1240,"wires":[["386622cbfce5271b"]]},{"id":"6ece59d332c7cc52","type":"mqtt in","z":"aeb201a505a93812","name":"periodic DATA","topic":"group_id/supercap/group_roll_number/OUT","qos":"2","datatype":"auto-detect","broker":"4e4906a02c7fe570","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":1340,"wires":[["967df32f58fb6222","c7a658a85d2afebf","60c79fbd9093ae62","d3d6b1174275524d","30f4528d590ee2a9"]]},{"id":"35958b9fa52398c5","type":"function","z":"aeb201a505a93812","name":"contactor message","func":"\nif(msg.payload==true){\n    msg.payload= \"Contactor is ON\";\n    return msg;\n}\nmsg.payload=\"Contactor is OFF\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1000,"wires":[["3d025a7b345da872","d57da5c21a5ddac3"]]},{"id":"2bf014e2db572eca","type":"ui_gauge","z":"aeb201a505a93812","name":"Charging Current","group":"a739a85768bb972b","order":4,"width":"7","height":"6","gtype":"gage","title":"Charging Current","label":"A","format":"{{value}}","min":0,"max":"100","colors":["#2bda2b","#e6e600","#ca3838"],"seg1":"30","seg2":"50","diff":false,"className":"","x":690,"y":1300,"wires":[]},{"id":"c7a658a85d2afebf","type":"function","z":"aeb201a505a93812","name":"charging current","func":"msg.payload=msg.payload.data.charging_current;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1300,"wires":[["2bf014e2db572eca"]]},{"id":"120062ca24a563be","type":"ui_gauge","z":"aeb201a505a93812","name":"Discharging Current","group":"a739a85768bb972b","order":6,"width":"7","height":"6","gtype":"gage","title":"Discharging Current","label":"A","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"150","diff":false,"className":"","x":820,"y":1340,"wires":[]},{"id":"60c79fbd9093ae62","type":"function","z":"aeb201a505a93812","name":"discharging Current","func":"msg.payload=msg.payload.data.discharging_current\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1360,"wires":[["120062ca24a563be"]]},{"id":"f982f24e3ccbd351","type":"ui_gauge","z":"aeb201a505a93812","name":"BANK VOLTAGE","group":"a739a85768bb972b","order":9,"width":"7","height":"6","gtype":"wave","title":"BANK VOLTAGE","label":"v","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":830,"y":1400,"wires":[]},{"id":"d3d6b1174275524d","type":"function","z":"aeb201a505a93812","name":"BANK VOLTAGE","func":"msg.payload = msg.payload.data.bank_voltage\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1420,"wires":[["f982f24e3ccbd351"]]},{"id":"daa83387bc685fc9","type":"ui_gauge","z":"aeb201a505a93812","name":"TEMPERATURE","group":"a739a85768bb972b","order":2,"width":"7","height":"6","gtype":"compass","title":"TEMPERATURE","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"40","diff":false,"className":"","x":790,"y":1480,"wires":[]},{"id":"30f4528d590ee2a9","type":"function","z":"aeb201a505a93812","name":"AMBIENT TEMPERATURE","func":"msg.payload = msg.payload.data.ambient_temperature\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1480,"wires":[["daa83387bc685fc9"]]},{"id":"e04d035dbd3ad8f0","type":"function","z":"aeb201a505a93812","name":"function 1","func":"\nif(msg.payload==true){\n    msg.payload= {\n\"sender\": \"UI\",\n\"receiver\": \"supercap\",\n\"message_id\": \"RUN_CT\",\n\"group_id:\": \"abcd1234efgh5678\",\n \"group_roll_number\": \"01\",\n \"hw_id\": \"XXYYZZNNNN\",\n\"state\": \"OPERN\",\n\"timestamp\": \"1699947499\",\n\"data\": {\n\"input_contactor_mode\": \"CLOSED\",\n\"output_contactor_mode\": \"\",\n}\n}\n;\n    return msg;\n}\nmsg.payload={\n\"sender\": \"UI\",\n\"receiver\": \"supercap\",\n\"message_id\": \"RUN_CT\",\n\"group_id:\": \"abcd1234efgh5678\",\n \"group_roll_number\": \"01\",\n \"hw_id\": \"XXYYZZNNNN\",\n\"state\": \"OPERN\",\n\"timestamp\": \"1699947499\",\n\"data\": {\n\"input_contactor_mode\": \"OPENED\",\n}\n}\n;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":900,"wires":[["126f2eb3cbbf85a0","d7f4401ba0b4a94b"]]},{"id":"126f2eb3cbbf85a0","type":"mqtt out","z":"aeb201a505a93812","name":"contactor control","topic":"group_id/supercap/group_roll_number/IN","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"94d1093276e688a7","x":730,"y":880,"wires":[]},{"id":"d7f4401ba0b4a94b","type":"debug","z":"aeb201a505a93812","name":"debug 19","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":820,"wires":[]},{"id":"65096164dd23d393","type":"comment","z":"aeb201a505a93812","name":"single contactor control","info":"","x":300,"y":760,"wires":[]},{"id":"de842f83f9239ea4","type":"comment","z":"aeb201a505a93812","name":"Periodic Data","info":"","x":270,"y":1200,"wires":[]},{"id":"54e07d992e4547e6","type":"comment","z":"aeb201a505a93812","name":"DATE","info":"","x":430,"y":460,"wires":[]},{"id":"d57da5c21a5ddac3","type":"ui_audio","z":"aeb201a505a93812","name":"","group":"5491be8651cc99b2","voice":"Google हिन्दी","always":"","x":760,"y":1100,"wires":[]},{"id":"293cfe1d0f3c5491","type":"ui_spacer","z":"aeb201a505a93812","name":"spacer","group":"a739a85768bb972b","order":5,"width":"2","height":"6"},{"id":"0d3a2aaec371f451","type":"ui_spacer","z":"aeb201a505a93812","name":"spacer","group":"5491be8651cc99b2","order":2,"width":1,"height":1},{"id":"11587a1b7614c99e","type":"ui_spacer","z":"aeb201a505a93812","name":"spacer","group":"a739a85768bb972b","order":1,"width":"4","height":"6"},{"id":"2aab8645f252cd3a","type":"ui_spacer","z":"aeb201a505a93812","name":"spacer","group":"a739a85768bb972b","order":3,"width":"5","height":"6"},{"id":"6de177c32886ed90","type":"ui_spacer","z":"aeb201a505a93812","name":"spacer","group":"a739a85768bb972b","order":8,"width":"4","height":"6"},{"id":"4bdbf5c05249dec3","type":"mqtt-broker","name":"anshulpc","broker":"192.168.3.112","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"5491be8651cc99b2","type":"ui_group","name":"CONTACTOR CONTROL","tab":"9f396388fdcb5242","order":3,"disp":true,"width":"16","collapse":false,"className":""},{"id":"944016a7742d76f4","type":"ui_group","name":"DATE","tab":"9f396388fdcb5242","order":2,"disp":true,"width":"16","collapse":true,"className":""},{"id":"225fb4a23eee2f8a","type":"ui_group","name":"Capacitor Voltages","tab":"37d0eb868e9caa83","order":2,"disp":true,"width":"14","collapse":false,"className":""},{"id":"4e4906a02c7fe570","type":"mqtt-broker","name":"anshulphone","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"a739a85768bb972b","type":"ui_group","name":"ATR PARAMETER","tab":"9f396388fdcb5242","order":4,"disp":true,"width":"16","collapse":false,"className":""},{"id":"94d1093276e688a7","type":"mqtt-broker","name":"anshullaptop","broker":"192.168.3.176","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"connectionstatus","closeQos":"0","closeRetain":"false","closePayload":"disconneccted","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"9f396388fdcb5242","type":"ui_tab","name":"HOME","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"37d0eb868e9caa83","type":"ui_tab","name":"CAPACITOR VOLTAGES","icon":"battery_charging_90","order":2,"disabled":false,"hidden":false}]