flows.json
[{"id":"aeb201a505a93812","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"94d1093276e688a7","type":"mqtt-broker","name":"anshullaptop","broker":"192.168.3.176","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"connectionstatus","closeQos":"0","closeRetain":"false","closePayload":"disconneccted","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"4bdbf5c05249dec3","type":"mqtt-broker","name":"anshulpc","broker":"192.168.3.112","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"7195b859ca39b4be","type":"mqtt out","z":"aeb201a505a93812","name":"","topic":"mytopic2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"94d1093276e688a7","x":580,"y":160,"wires":[]},{"id":"4ed99b2e1e58fb2d","type":"mqtt in","z":"aeb201a505a93812","name":"","topic":"test/topic","qos":"0","datatype":"auto-detect","broker":"94d1093276e688a7","nl":false,"rap":true,"rh":0,"inputs":0,"x":380,"y":60,"wires":[["fadf1944bbb5edb4"]]},{"id":"4bc33014cc47338e","type":"inject","z":"aeb201a505a93812","name":"input","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"i am connected","payloadType":"str","x":350,"y":160,"wires":[["7195b859ca39b4be"]]},{"id":"fadf1944bbb5edb4","type":"mqtt out","z":"aeb201a505a93812","name":"","topic":"another","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4bdbf5c05249dec3","x":600,"y":60,"wires":[]},{"id":"6a733bc75fbdf31a","type":"mqtt in","z":"aeb201a505a93812","name":"","topic":"broadcast/IN","qos":"2","datatype":"auto-detect","broker":"4bdbf5c05249dec3","nl":false,"rap":true,"rh":0,"inputs":0,"x":430,"y":360,"wires":[["4b489282cd8e79a4"]]},{"id":"4b489282cd8e79a4","type":"debug","z":"aeb201a505a93812","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":360,"wires":[]},{"id":"d9ff755ec38c6336","type":"mqtt in","z":"aeb201a505a93812","name":"","topic":"groupid/IN","qos":"2","datatype":"auto-detect","broker":"4bdbf5c05249dec3","nl":false,"rap":true,"rh":0,"inputs":0,"x":420,"y":440,"wires":[["987916d5f32d31ad"]]},{"id":"987916d5f32d31ad","type":"debug","z":"aeb201a505a93812","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":440,"wires":[]},{"id":"abc4d4a1b68b9afb","type":"mqtt in","z":"aeb201a505a93812","name":"","topic":"supercap/HW_ID/IN","qos":"2","datatype":"auto-detect","broker":"4bdbf5c05249dec3","nl":false,"rap":true,"rh":0,"inputs":0,"x":430,"y":520,"wires":[["115607342b44c719"]]},{"id":"115607342b44c719","type":"debug","z":"aeb201a505a93812","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":520,"wires":[]},{"id":"49cd422865df7ad3","type":"comment","z":"aeb201a505a93812","name":"from UI to supercap bank","info":"these are topic coming from ui","x":350,"y":300,"wires":[]},{"id":"5a54fd13956d5315","type":"mqtt in","z":"aeb201a505a93812","name":"","topic":"groupid/supercap/grouprollno/IN","qos":"2","datatype":"auto-detect","broker":"4bdbf5c05249dec3","nl":false,"rap":true,"rh":0,"inputs":0,"x":450,"y":620,"wires":[["c4b3273331ebdedc"]]},{"id":"c4b3273331ebdedc","type":"debug","z":"aeb201a505a93812","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":620,"wires":[]}]